body {
  font-size: 62.5%; 
  font-family: 'lucida grande', verdana, arial, sans-serif;
  padding: 30px 50px;
  background-color: #dbdbdb;
  background-image: url(images/page_bg.jpg);
  background-position: top;
  background-repeat: repeat-x;
  color: #333;
}
input[type="text"], input[type="file"], textarea {
  background-color: #fff;
}

a, a:visited, a:active {
  font-weight: bold;
  color: #5E6577;
  text-decoration: none;
}
a:hover {
  color: #5E6577;
  text-decoration: underline;
}

#header, #sublinks, #content, #footer, #toplinks {
  width: 100%;
  border-collapse: separate;
  border-left: 1px solid #959596;
  border-right: 1px solid #959596;
}
#header {
  border-top: 1px solid #959596;
}
#content {
  background-color: #EFEFEF;
}
#footer {
  border-bottom: 1px solid #959596;
}
#footer td.footer {
  background-image: url(images/footer_bg.jpg);
  background-repeat: repeat;
  border: 1px solid #fff;
  padding: 0;
  margin: 0;
  height: 79px;
  vertical-align: top;
  color: #fff;
}
#footer td.footer a {
  color: #FFF;
  font-weight: bold;
  text-decoration: underline;
}
#main-content {
  margin: 10px;
  background-color: #EFEFEF;
}
td.header-left, td.header-right, td.headerlinks, td#sidebar-first, td#main, td#sidebar-second, td.footer {
  vertical-align: top;
  margin: 0px;
  padding: 0px;
}
td.header-right {
  text-align: right;
}
div.header-logo {
  margin: 10px;
}
div.header-logo img {
  max-width: 100%;
}
.name-slogan {
  margin: 20px 20px 0px 134px;
}
td#sidebar-first {
  width: 22em;
  border-left: 1px solid #fff;
  text-align: left;
  background-color: #ddd;
}
td#sidebar-second {
  width: 22em;
  border-right: 1px solid #fff;
  text-align: left;
  background-color: #ddd;
}
td#sidebar-first ul, td#sidebar-second ul {
  margin-left: 6px;
  padding: 3px 6px;
}
td#sidebar-first ul li, td#sidebar-second ul li {

}
td#sidebar-first .block, td#sidebar-second .block {
  margin-top: 5px;
}
td#sidebar-first .block .content, td#sidebar-second .block .content {
  margin: 5px;
}
td#sidebar-first .block .title, td#sidebar-second .block .title {
  font-size: 1.2em;
  background-color: #5E6577;
  color: #fff;
  padding: 3px 10px;
  margin-top: 5px;
  text-align: center;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
td#sidebar-first .block .title {
  border-right: 1px solid #fff;
}
td#sidebar-second .block .title {
  border-left: 1px solid #fff;
}
#header {
  background-image: url(images/header_bg.jpg);
  background-repeat: repeat-x;
  background-color: #C7C9D5;
  color: #fff;
  margin: 0;
  padding: 0;
  height: 200px;
}
#header a, #header a:visited, #header a:hover, #header a:active, ul#navlist a, ul#navlist a:visited, ul#navlist a:hover, ul#navlist a:active{
  color: #fff;
  font-weight: bold;
}
#header a, ul#navlist a {
  text-decoration: none;
}
#header a:hover, ul#navlist a:hover {
  text-decoration: underline;
}
#header td.header-left {
  height: 199px;
  background-image: url(images/header_left_bg.jpg);
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
}
#header td.header-right {
  height: 199px;
  background-image: none;
  background-color: transparent;
  vertical-align: top;
  padding: 0;
  margin: 0;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}
#forum table, #block-node-recent table {
  width: 100%;
}
#footer #subnavlist {
  float: left;
  position: absolute; 
  padding-left: 20px; 
}
#footer #subnavlist li {
  display: inline;
  border-left: 1px solid #FF9900;
  padding-left: 5px; 
}
#footer #subnavlist li.first {
  border-left: 0;
  padding-left: 0; 
}
#footer-inner {
  text-align: center;
  margin-top: 30px;
}
.user-picture {
  border: 1px solid #959596;
}
.profile .user-picture {
  margin-left: 5px;
}
.user-picture img {
  border: 1px solid #fff;
}
.poll .text {
  font-weight: bold;
}
.poll .bar .foreground {
  background-color: #5E6577;
  border: 1px solid #fff;
}
#main span.submitted {
  margin-bottom: 5px;
}
#main .content {
  margin-top: 5px;
}
#main .node {
  border-bottom: 1px solid #959596;
  padding-bottom: 5px;
}
#main #comments {
  border: 1px solid #959596;
  padding: 5px;
}
.footer-info {
  float:right;
  margin: 0 10px;
}

.footer-info li {
  list-style: circle;
  font-size: 0.8em;
  margin-left: 5px;
  display: inline;
}
